<a class="
{% if sortBy == entry  %}
							text-primary"
							
						{% if sortOrder == 'asc' %}
									href="/{{ route }}/1/{{ entry }}/desc">{{ cellName }} &uarr;
						{% else %}
									href="/{{ route }}/1/{{ entry }}/asc">{{ cellName }} &darr;
						{% endif %}
		{% else %}
					" href="/{{ route }}/1/{{ entry }}/asc">{{ cellName }}
{% endif %}
</a>